#app {
  font: 14px 'Helvetica Neue', Helvetica, sans-serif;
  color: cadetblue;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

.links{
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 2px;
  text-decoration: none !important;
}

.links:hover {
  text-decoration: none !important;
}

.links:focus{
  color: indianred;
}

a.active {
  color: indianred;
}

nav {
  padding-top: 20px;
}
